<a href="https://colab.research.google.com/github/08mitesh/machine-learning-examples/blob/master/Collaborative_filtering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity

In [5]:
ratings = pd.read_csv('toy_dataset.csv',index_col=0)
ratings

        action1  action2  action3  romantic1  romantic2  romantic3
user 1      4.0      5.0      3.0        NaN        2.0        1.0
user 2      5.0      3.0      3.0        2.0        2.0        NaN
user 3      1.0      NaN      NaN        4.0        5.0        4.0
user 4      NaN      2.0      1.0        4.0        NaN        3.0
user 5      1.0      NaN      2.0        3.0        3.0        4.0

In [6]:
def standardize(row):
  return (row-row.mean()) / (row.max()-row.min())

# rating = df.apply(standardize).fillna('0')
# rating

# rating.T for item based similarity
rating_std = ratings.apply(standardize).fillna('0')
rating_std

       action1   action2 action3 romantic1 romantic2 romantic3
user 1  0.3125  0.555556   0.375         0 -0.333333 -0.666667
user 2  0.5625 -0.111111   0.375    -0.625 -0.333333         0
user 3 -0.4375         0       0     0.375  0.666667  0.333333
user 4       0 -0.444444  -0.625     0.375         0         0
user 5 -0.4375         0  -0.125    -0.125         0  0.333333

In [7]:
#user based similatiry 
# cosine_similarity(rating)

## Item based similarity
item_similarity = cosine_similarity(rating_std.T)
item_similarity

array([[ 1.        ,  0.17285433,  0.51719541, -0.62274549, -0.80032673,
        -0.68599434],
       [ 0.17285433,  1.        ,  0.74438737, -0.16283474, -0.25197632,
        -0.62994079],
       [ 0.51719541,  0.74438737,  1.        , -0.65909091, -0.36927447,
        -0.43082022],
       [-0.62274549, -0.16283474, -0.65909091,  1.        ,  0.6770032 ,
         0.12309149],
       [-0.80032673, -0.25197632, -0.36927447,  0.6770032 ,  1.        ,
         0.66666667],
       [-0.68599434, -0.62994079, -0.43082022,  0.12309149,  0.66666667,
         1.        ]])

In [19]:
#converting item into dataFrame
item_similarity_df = pd.DataFrame(item_similarity,index=ratings.columns,columns=ratings.columns)
item_similarity_df

            action1   action2   action3  romantic1  romantic2  romantic3
action1    1.000000  0.172854  0.517195  -0.622745  -0.800327  -0.685994
action2    0.172854  1.000000  0.744387  -0.162835  -0.251976  -0.629941
action3    0.517195  0.744387  1.000000  -0.659091  -0.369274  -0.430820
romantic1 -0.622745 -0.162835 -0.659091   1.000000   0.677003   0.123091
romantic2 -0.800327 -0.251976 -0.369274   0.677003   1.000000   0.666667
romantic3 -0.685994 -0.629941 -0.430820   0.123091   0.666667   1.000000

In [21]:
def getSimilarMovies(movieName,rating):
  print()
  print(item_similarity_df[movieName])
  print()
  # movie_score = item_similarity_df[movieName]*rating
  # this code is to suggest romantic movie if the user doesn't like action movie
  movie_score = item_similarity_df[movieName]*(rating-2.5)
  movie_score = movie_score.sort_values(ascending=False)
  return movie_score

getSimilarMovies('action3',1)

action1      0.517195
action2      0.744387
action3      1.000000
romantic1   -0.659091
romantic2   -0.369274
romantic3   -0.430820
Name: action3, dtype: float64

romantic1    0.988636
romantic3    0.646230
romantic2    0.553912
action1     -0.775793
action2     -1.116581
action3     -1.500000
Name: action3, dtype: float64